eng-to-ipa
PyPDF2
librosa
matplotlib
scipy
pydub
PyQt5
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz
python3 -m spacy download en_core_web_sm
